@{
    ViewData["Title"] = "Login";
}
@model DataModels.Models.LoginModel
<h3>@ViewData["Message"]</h3>

<head runat="server">
    <script src="http://code.jquery.com/jquery-latest.min.js" type="text/javascript"></script>
    <script type='text/javascript'>
        $(document).ready(function () {
            $("#Nav").hide();
        });
    </script>
</head>

@using (Html.BeginForm("", "/home/Login", FormMethod.Post))
{
    <form action="/home/login" method="post" class="align-middle" style="position:sticky; top:200px;">
        <div class="form-group">
            <label for="Loginname">Name:</label><input type="text" class="form-control form-control-lg" id="name" placeholder="Login Name" asp-for="username">
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1">Password: </label> <input type="password" class="form-control form-control-lg" id="pass" placeholder="Password" asp-for="password">
        </div>
        <button type="submit" id="loginCheck" class="btn btn-primary">Login</button>
    </form> 
}
@Html.ValidationMessage("fout")
